@import url(http://fonts.googleapis.com/css?family=Varela+Round);
* {
  box-sizing: border-box;
}

.fields-container {
  width: 900px;
  height: 765px;
  background-color: whitesmoke;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 60px;
  text-align: center;
  -moz-box-shadow: #ccc 0px 8px 0px;
  -webkit-box-shadow: #ccc 0px 8px 0px;
  box-shadow: #ccc 0px 8px 0px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 30px;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  color: #9b59b6;
  position: relative;
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: -30px;
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid #2ecc71;
  padding-bottom: 15px;
  width: 400px;
}



.box-label-form input[type="text"] {
  height: 45px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 780px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #9b59b6;
  padding: 14px;
  padding-left: 80px;
  position: relative;
  font-family: 'Varela Round', sans-serif;
  font-size: 16px;
  background-color: whitesmoke;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.box-label-form input[type="text"]:focus {
  outline: none;
}
.box-label-form div {
  position: relative;
}
.box-label-form label {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #9b59b6;
  height: 45px;
  width: 70px;
  padding: 0 4px;
  border: 1px solid #9b59b6;
  border-right: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.icon {
  height: 20px;
  width: 20px;
  margin-top: 11px;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.box-label-form input:valid + label {
  -moz-box-shadow: #2ecc71 100px 0px 0px inset;
  -webkit-box-shadow: #2ecc71 100px 0px 0px inset;
  box-shadow: #2ecc71 100px 0px 0px inset;
  border: 1px solid #2ecc71;
  border-right: none;
}

.box-label-form input:valid {
  border: 1px solid #2ecc71;
}

.box-label-form #incorrect-password:valid + label {
  -moz-box-shadow: #e74c3c 100px 0px 0px inset;
  -webkit-box-shadow: #e74c3c 100px 0px 0px inset;
  box-shadow: #e74c3c 100px 0px 0px inset;
  border: 1px solid #e74c3c;
  border-right: none;
}

.box-label-form #incorrect-password:valid {
  border: 1px solid #e74c3c;
}

.box-label-form input:focus + label > .icon {
  height: 28px;
  width: 28px;
  margin-top: 7px;
}