@import url(http://fonts.googleapis.com/css?family=Varela+Round);
* {
  box-sizing: border-box;
}

.fields-container {
  width: 900px;
  height: 765px;
  background-color: whitesmoke;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 60px;
  text-align: center;
  -moz-box-shadow: #ccc 0px 8px 0px;
  -webkit-box-shadow: #ccc 0px 8px 0px;
  box-shadow: #ccc 0px 8px 0px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 30px;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  color: #9b59b6;
  position: relative;
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: -30px;
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid #2ecc71;
  padding-bottom: 15px;
  width: 400px;
}

/*^ base */

.slide-form input[type="text"] {
  height: 45px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 780px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #9b59b6;
  padding: 14px;
  padding-left: 20px;
  position: relative;
  font-family: 'Varela Round', sans-serif;
  font-size: 16px;
  background-color: whitesmoke;
}
.slide-form input[type="text"]:focus {
  outline: none;
}
.slide-form div {
  position: relative;
}
.slide-form label {
  position: absolute;
  top: 14px;
  left: 18px;
  color: #9b59b6;
  padding: 0 4px;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.slide-form input:focus + label, .slide-form input:valid + label {
  top: -8px;
  background-color: whitesmoke;
  padding: 0 4px;
}

.slide-form input:focus {
  -moz-box-shadow: #9b59b6 0px -3px 0px inset;
  -webkit-box-shadow: #9b59b6 0px -3px 0px inset;
  box-shadow: #9b59b6 0px -3px 0px inset;
}