/.buildpath
/.project
/.settings
uploads/*
!uploads/.gitkeep
templates_c/*
!templates_c/.gitkeep
/cache
/web-monitor
*.DS_Store
.env
.env.*
!env.example
vendor
dist
optimised
!optimised/.gitkeep
.ckfinder
admin/includes/filemanager/js/vendor
node_modules
