/.buildpath
/.project
/.settings
/uploads
/templates_c
/cache
/web-monitor
*.DS_Store
node_modules
vendor
dist
optimised

# keep upgrade branch ignored files off of master
.env
.env.*
!env.example
.ckfinder
Tests
admin/includes/ckfinder
admin/includes/filemanager/js/vendor

