/.buildpath
/.project
/.settings
uploads/*
!uploads/.gitkeep
templates_c/*
!templates_c/.gitkeep
/cache
/web-monitor
*.DS_Store
.env
.env.stage
.env.production
.env.codeception
vendor
optimised/*
!optimised/.gitkeep
.ckfinder
node_modules
!tests/_data/*.sql
