@CHARSET "ISO-8859-1";

.fileinput{ width: 0px!important; height: 0px!important; padding: 0px!important; border: 0px!important; }
/* .btn-info{ margin-bottom: 5px!important;} */
.mceEditor{ margin-bottom: 5px!important;}

.file-view {float:left; padding-top:5px; padding-right:5px;}
.marg-5r {margin-right:5px;}

#elfinder { padding-top:40px; }

.small-txt { font-size: 10px !important; }

.edit-page-header {
display: block;
width: 100%;
padding: 0;
margin-bottom: 20px;
margin-top: 20px;
font-size: 21px;
line-height: inherit;
color: #333;
border: 0;
border-bottom: 1px solid #e5e5e5;
}

.edit-page-header .published, .edit-page-header .drafts {float:right;}
.edit-page-header .edit-page-title {
padding-top: 8px;
display: inline-block;
}
.url-text{
   display: inline-block !important;
   width: 74% !important;
}

.form-tab {
	border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    margin: 20px;
}
.form-help-value {
	font-size:10px;
	font-weight:bold;
}
.form-help-text {
	font-size:10px;
}
.top-btn{
	margin-left: 30px;
}
.bottom-btn{
	margin-top: 50px;
}
.form-bottom-btns{
	margin-top: 50px;
	padding-right: 15px;
}
.number {
    width: 60px !important;
}

.double {
    width: 140px !important;
	text-align: right;
}

.dates {
    width: 105px !important;
}

.sub-form {
	background-color: rgb(238, 238, 238); 
	padding: 15px;
	margin-bottom: 25px;
}
.draft > td  {
    color: #5F8DFF;
}

.notification {
	background: none repeat scroll 0 0 rgb(242, 250, 250);
    border-top: 15px solid #78A1CA  !important;
    position: fixed !important;
    bottom: 0;
	padding: 25px;
	z-index: 9999;
    width: 100%;
	margin: 0 !important;
	text-align: center;
	text-size: center;
	font-size: 3vh;
}

.notification > img {
    margin-right: 14px;
}

.btn-add-new {
	margin-top: 15px;
}

.btn-inform {
	margin-left: 30px !important;
}

.form {
	margin-top: 25px;
}
.chckbx {
	margin-top: 10px !important;
}

.navbar-default{
	background-color: transparent !important;
	border-color: transparent !important;
}

.navbar-header{
	width: 100%;
}

.navbar-header img{
	margin: 10px 0;
}

.container-fluid{
	padding: 0;
}

.navbar-toggle{
	margin: 20px auto !important;
	float: none !important;
}

.logotxt{
	margin-left: 15px;
	font-weight: bold;
}

.navbar-collapse{
	background: #dedede;
	padding: 10px !important;
}

ul.nav h3{
	font-size: 18px;
	font-weight: bold;
	margin-top: 5px;
}

ul.nav ul{
	padding-left: 0;
}

ul.nav li{
	list-style: none;
	padding-left: 0;
	margin-right: 15px;
}

#loginlogo{
	display: inline !important;
	margin-top: 150px;
}

#loginbox{
	position: relative;
margin-top: 20px;
margin-bottom: 50px;
background-color: #fbfbfb;
background: -moz-linear-gradient(top,#fbfbfb 0,#fbfbfb 90%,#efefef 100%);
background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fbfbfb),color-stop(90%,#fbfbfb),color-stop(100%,#efefef));
background: -webkit-linear-gradient(top,#fbfbfb 0,#fbfbfb 90%,#efefef 100%);
background: -o-linear-gradient(top,#fbfbfb 0,#fbfbfb 90%,#efefef 100%);
background: -ms-linear-gradient(top,#fbfbfb 0,#fbfbfb 90%,#efefef 100%);
background: linear-gradient(top,#fbfbfb 0,#fbfbfb 90%,#efefef 100%);
background-position: center bottom;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
padding: 45px 40px;
padding-bottom: 40px;
border: 1px solid #c8c8c8;
-webkit-box-shadow: 0 2px 1px rgba(0,0,0,.05);
-moz-box-shadow: 0 2px 1px rgba(0,0,0,.05);
text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.login_button{
border:px solid #FFFFFF; -webkit-border-radius: px; -moz-border-radius: px;border-radius: px;width:px;font-size:px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block; color: #FFFFFF;
 background-color: #45484d; background-image: -webkit-gradient(linear, left top, left bottom, from(#45484d), to(#000000));
 background-image: -webkit-linear-gradient(top, #45484d, #000000);
 background-image: -moz-linear-gradient(top, #45484d, #000000);
 background-image: -ms-linear-gradient(top, #45484d, #000000);
 background-image: -o-linear-gradient(top, #45484d, #000000);
 background-image: linear-gradient(to bottom, #45484d, #000000);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#45484d, endColorstr=#000000);
}

.login_button:hover{
	color: #fff !important;
}

@media (min-width: 768px) {
  #navbtn {
    display: block;
  }

  #session.collapse {
    display: none !important;
  }
  
  #session.collapse.in {
    display: block !important;
  }
  
}

@media (max-width: 768px){
  #loginlogo{
  	margin-top: 50px;
  }
}