@media (min-width:992px) and (max-width:1199px){
#main #main-navbar li a{padding: 15px 8px;}
#main #headactions>a{padding: 5px;}
#top #top-menu a{padding: 15px 8px;}
#main #headactions>a img{padding: 7px 0;}
#logo{margin-top: 7px;}
#redbar{line-height: 103px;font-size: 20px;}
#redbar .btn.btn-transp{padding: 12px 8px;}
#product-list #categorycontainer .prodcatout .prodcat .imgcont{min-height: 131px;}
#product-list #categorycontainer .prodcatout:nth-child(1) .prodcat .imgcont, #product-list #categorycontainer .prodcatout:nth-child(2) .prodcat .imgcont{min-height: 205px;}
#top #call a div.callout{font-size: 15px;}
#top #top-menu a{font-size: 13px;}
#reminder{line-height: 24px;}
#proddet #prodslider ul.slides{min-height: 252px;}
.prod img.prodimg{min-height: 125px;}

#proddet #prodright .lineno, #proddet #prodright .charleft{
			text-align: center;
}

#giftgrey #gift_form .giftopimg{
	min-height: 96px;
}

#cartmain #special h3{
	font-size: 20px;
    line-height: 24px;
    color: #e9003b;
    font-weight: bold;
    margin: 12px 0 5px;
}

#cartmain #special .condn{
	font-size: 16px;
}

#cartmain #special #select {
    padding: 23px 15px;
}
#specialoffer .sptextout .specialtext{
	min-height: 123px;
}

#giftgrey #gift_form .giftoption .giftoptext p {
    height: 190px;
}

#foot1 ul#footmenu li.baselevel>div{height: 59px;}

.emergency-grey .videoWrapper iframe{
	height: 350px;
}

#products-wrapper .prodout:nth-child(3n+1){
	clear: none;
}

#products-wrapper .prodout:nth-child(2n+1){
	clear: both;
	float: left;
}


#updateprof .btn-red{
	font-size: 15px;
	padding: 12px 20px;
}

#heroimg {
    background-position: -300px 0;
}


#proddet #prodright .charrow-wrapper {
    background: none !important;
    margin-top: 25px;
}

#proddet #prodright .textcont input{
	width: 100% !important;
}

#landing-newsart .newsres .newsrestext h3{
  min-height: 102px;
}


}

@media (min-width:1199px){

#proddet #prodright .charleft{display: none;}
#proddet #prodright .linenob{display: none;}
#proddet #prodright .charrow-wrapper{
	height: 350px;
    background-size: cover !important;
    vertical-align: middle;
    text-align: center;
}
#proddet #prodright .charrow{
	text-align: center;
	height: 20px;
	line-height: 20px;
	margin-bottom: 4px;
}

#proddet #prodright .textcont{
	float: none;
	display: inline-block;
    width: auto !important;
}
#proddet #prodright .charrow-wrapper input[type="text"]{
	height: 20px;
    padding: 0 12px;
    text-align: center;
}
.attr-image-wrapper{height: 260px;}
#proddet #prodright .charrowin{
    position: absolute;
    top: 55%;
    transform: translate(-50%,-50%);
    width: 48%;
    left: 50%;
}

.selectboxit-container *{
	max-width: 100%;
}

}

@media (min-width:1200px) and (max-width:1350px){

}