@media (max-width:767px){

#navbar-collapse-2{background: $white; padding: 30px;}
#menuclose{position: absolute;top: 20px;right: 35px;}
#menuclose img {width: 25px;}
.navbar-toggle{margin: 0; padding: 5px; float: left;}
.offcanvas-toggle .icon-bar{background: $red;}
#totop {
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    color: #000000;
    background-color: rgba(235,235,235,0.8);
    font-size: 12px;
    padding: 0 10px;
}

.navbar-toggle .icon-bar{background: $white;}

#banner{
	background: url(../../images/mob-home-banner.jpg) no-repeat;
    height: 350px;
    padding: 20px;
    background-size: cover;
}

#banner h1 {
    font-size: 25px;
    line-height: 36px;
}

#mobsearch{
	padding: 10px 15px;
	width: 100%;

	#mobin{
	    float: left;
		width: 100%;

	#search{
    	float: left;
		width: 100%;
		height: 40px;
		border: 1px solid #dedede;
		padding: 0 10px;
		font-style: italic;
		padding: 0 55px 0 10px;
	}

	input[type="image"]{
    	height: 40px;
    	position: absolute;
    	right: 15px;
	}

	}


}

#redbar{
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    padding-bottom: 20px;

    .container{
	    padding: 20px 15px;
    }

    .btn{
	    margin-top: 20px;
    }
}

#whiteblock1, #whiteblock2 {
    padding: 20px 0;

    h2{
	    font-size: 24px;
		line-height: 33px;
    }
}

#greyblock2{
	display: none;
}

#newsletter{
	padding: 20px 0;
    h2{
	    font-size: 24px;
		line-height: 33px;
    }

    label{
	    width: 30%;
    }

    input.form-control{
	    width: 70%;
    }
}

#foot1{
	padding: 20px 0;

	a{
		color: $white;
	}

	#main-footer{
		display: none;
	}

	.socout{
		float: none;
		display: inline-block;
	}

	#socfooter{
		text-align: center;

		#socfooter1{
			margin-bottom: 15px;
		}

		#socfooter2{
			margin-bottom: 15px;
		}
	}
}
#main{
  border-bottom: initial;
}
#cart{
	position: relative;

	img{
		float: right;
		width: 36px;
	}

	.nav-itemNumber{
    position: absolute;
    top: -10px;
    right: -10px;
    background: #fff;
    height: 20px;
    border-radius: 10px;
    padding: 5px 3px;
    line-height: 10px;
    color: $red;
    font-size: 14px;
    min-width: 20px;
    text-align: center;
	}
}

#logoout{
	text-align: center;

	#logo{
		display: inline-block;
		max-height: 30px;
	}
}

#mobile-navbar{
	ul{
	margin-top: 0;
		li{
		    min-height: 40px;
			line-height: 40px;
			padding: 0;
			border-bottom: 1px solid #dedede;
			float: left;
			width: 100%;

			&.active{
				background: $light-grey;

				a{
					color: $red;
					background: none;
				}
			}

			a{
				padding: 0 0 0 15px;
				line-height: 45px;
				color: $black;

				img{
					width: 20px;
					float: right;
					margin: 10px 10px 0 0;
				}

				.arrow-down{
					display: inline-block;
					height: 45px;
					width: 40px;
					background: url(../../images/menu-down.png) no-repeat;
					background-position: center center;
					float: right
				}
			}

			&.dropdown.open{
				.arrow-down{
					background-color: $dark-grey;
				}
			}

			ul.dropdown-menu{
				position: relative;
				float: left;
				width: 100%;
				box-shadow: none;
				height: 0;
				-webkit-transition: all 300ms ease-in;
				-moz-transition: all 300ms ease-in;
				-ms-transition: all 300ms ease-in;
				-o-transition: all 300ms ease-in;
				transition: all 300ms ease-in;
				display: block;
				overflow: hidden;
				padding: 0;
				border: none;


				.sub-li{
					padding-left: 15px;

					&:last-child{
						border-bottom: none;
					}
				}
			}
		}
	}
}

#pagehead {
    padding-bottom: 0px;

	.bannerout{
		display: none;
	}

	.breadcrumb{
		border: 1px solid $dark-grey;
	    margin: 10px 15px 30px;
		text-align: center;
	}

	h1{
		font-size: 30px;
		margin: 20px 0;
	}
}

#benefits #benefit3 img{
	float: left;
	width: 20%;
}

#benefits #benefit3 div.bene{
	float: left;
	width: 80%;
	text-align: left;
	padding-left: 5%;
	margin-top: 10px;
}

#benefits #benefit3 .row{
	margin-bottom: 0;
}

#benefits #benefit3 .benout{
	clear: both;
	float: left;
	width: 100%;
}

#newscont #newscontleft .newsout .newsres{
	padding: 15px;
	border: 1px solid #dedede;
}

#newscont #newscontleft .newsout .newsrestext h3{
	margin-top: 15px;
}

#newscont #contright{
	margin-top: 30px;
}

#news #newsimages .flexslider .caption{
	display: none;
}

#news #newsimages .flexslider {
    margin-bottom: 40px;
}

#news #contright{
	margin-top: 30px;
}

#benefits #benefit4 table{
	text-align: center;
	border-left: 1px solid #dedede;
	border-right: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
}

#benefits #benefit4 .tablebox{
	height: 370px;
	overflow: hidden;
}

#benefits #benefit4 #readmore2{
	color: $red;
	margin: 10px 0 0px 0;
	display: block;
}

#benefits #benefit4 table .section{
	background: $white;
	border-bottom: 1px solid #dedede;
}

#benefits #benefit4 table tr:nth-child(odd) td{
	background: $white;
}

#benefits #benefit4 table tr.tabopts{
	td{
		width: 33.33%;
		color: $red;
		text-align: center;

		img{
			display: inline-block;
		}

		&:first-child{
			background: $light-grey;
		}

		&:nth-child(2){
			border-left: 1px solid $red;
			border-right: 1px solid $red;
		}
	}
}

#popular{
	.flexslider{
		margin-bottom: 0;
	}

	.flex-direction-nav .flex-prev, .flex-direction-nav .flex-next{
		display: none;
	}
}

#categ-bot-mob{
	padding: 15px 0;
	border-top: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
	margin-bottom: 40px;
}

#benefits #benefit1{
	text-align: center;
	display: none;

	h3{
		margin-top: 20px;
	}
}

#benefits #readmore{
	margin-bottom: 50px;
}


#product-list #categorycontainer .prodcatout .prodcat .imgcont{min-height: 99px;}
#product-list #categorycontainer .prodcatout:nth-child(1) .prodcat .imgcont, #product-list #categorycontainer .prodcatout:nth-child(2) .prodcat .imgcont{min-height: 40vw;}

#cost .cost-text{padding: 0 15px 25px;}
#cost-help #vet-text{text-align: center;}
#cost-help #vet-img img{display: inline-block;}

#cost-grey.howto img{float: left; width: 50px;}
#cost-grey.howto .ways{
	clear: both;
    width: 100%;
    max-width: 350px;
    display: block;
    margin: 0 auto 20px auto;}
#cost-grey.howto .grey-text{    text-align: center;
    padding-left: 5%;
    display: inline-block;
    width: 81%;
}

#pagehead #backt{
	position: relative;
	top: 0;
	text-align: center;
    width: 100%;
    border: 1px solid $dark-grey;
    padding: 10px;
    margin-bottom: 20px;
}

#testimonial-list #testcont .testresout:nth-child(-n+6){
	display: none;
}

#testimonial-list #testcont .testresout:nth-child(-n+3){
	display: block;
}

#who-needs .panel-title>a .head-text{
	width: 70%;
}

#testimonial-list.who-needs p{
	margin-bottom: 0;
}

#our-history{
	padding: 30px 0;
	text-align: center;
    margin-top: 30px;

	img{
		margin-bottom: 20px;
	}
}

#directors-wrapper{
	padding: 30px 0 0;
}

#pagehead .about-text{
	height: 185px;
    overflow: hidden;
    margin-bottom: 20px;
}

#pagehead a#readmore{
	color: $red;
}

#access-grey #contopt .ways img{float: left; width: 60px;}
#access-grey #contopt .ways {
	clear: both;
    width: 100%;
    max-width: 320px;
    display: block;
    margin: 0 auto 20px auto;}
#access-grey #contopt .ways .grey-text{text-align: center;
    padding-left: 5%;
    display: inline-block;
    width: 70%;
}

#emergency-white .step{
	clear: both;
	float: left;
	width: 100%;
	margin-bottom: 20px;

	.col-xs-9.col-sm-12{
		text-align: left;
	}
}

#contact{
	text-align: center;
}

#contact #contacttext .contline .cont-text{
	float: none;
}

#foot2{
	display: none;
}

#benefits #benefit4 table tr.tabopts td img {
    display: inline-block;
    margin: 5px 0;
}

#benefits #benefit3 img {
    float: left;
    width: 20%;
    max-width: 60px;
}

tr.tabopts {
    border-bottom: solid 1px $red;
}

#benefits #benefit4 table tr.tabopts td {
    width: 33.33%;
    color: #e9003b;
    text-align: center;
    font-size: 14px;
}

#reminder{
	font-size: 16px;
	line-height: 25px;
	text-align: center;

	.btn{
	    clear: both;
		float: none !important;
		margin-top: 15px;
	}
}

#ad{
	.breadcrumbs1{
    text-align: center;
    width: 100%;
    display: block;
    padding: 10px;
    border: 1px solid $dark-grey;
    margin-bottom: 20px;
    color: $red;
	}

	#mobcont{
		h1{


			span{
				font-weight: bold;
				text-transform: uppercase;
			}
		}
	}
}

#collection-left{
	margin-top: 0;

	#accordion1{
		/* display: none; */
	}

	#accordion2{
		background: $red;

		.panel-title{
			.glyphicon{
				color: $white !important;
			}

			.head-title{
				color: $white;
			}
		}
	}
	.panel-default .panel-collapse label {
      line-height: 25px;
    }
}

#prodcatdet .sortlab{
	float: left;
	line-height: 45px;
}

#recent h2{
	font-size: 25px;
}

#recent .flex-direction-nav .flex-next{
	right: 15px;
}

#recent .flex-direction-nav .flex-prev{
	left: 15px;
}

#mobcart, #mobmenu{
	padding: 0;
}

#mobile-navbar ul li.sub-li a {
    font-size: 16px;
}

#contact #contacttext .contline{
	float: none;
    width: 100%;
    max-width: 350px;
    display: block;
    margin: 0 auto 20px auto;
}

#contsocial{
	text-align: center;

	img{
		float: none !important;
	}
}

#proddet{
	#back{
		text-align: center;
		border: 1px solid $dark-grey;
		padding: 10px;
	}
}

#proddet #prodright .selectboxit-container{
	width: 100%;
	margin-bottom: 5px;
}

.flex-control-thumbs{
	display: none;
}

.flexslider{
	margin-bottom: 20px;
}

#proddet #prodright .prodprice{
	text-align: center;
}

#proddet #prodright .specialprice{
	float: none;
	display: inline-block;
	margin-bottom: 10px;
}

#proddet #prodright .sale{
	float: none;
	display: inline-block;
	margin-bottom: 10px;
	padding: 5px 15px;
}

#proddet #prodright select{
	width: 100%;
	margin-bottom: 5px;
}

.prod img.prodimg{min-height: 164px;}

#proddet #prodslider ul.slides{min-height: 134px;}

#proddet #prodright .lineno{
    margin-bottom: 0px;
    line-height: 25px;
}

#proddet #prodright .charleft{
    margin-bottom: 10px;
    line-height: 25px;
}

#giftgrey #gift_form .giftoption{
	margin-bottom: 20px;
}

#contact #sharestory{
	padding: 30px 15px;
}

#contact.share{
	padding-top: 15px;
}

#cartmain #shopping-cart-form .cartitem .remove{
    background: transparent;
    border: none;
    padding: 0;
    margin-top: -10px;
}

#cartmain #shopping-cart-form .cartitem .remove img{
	width: 20px;
}

#cartmain #special #select{
	background: none;
}

#cartmain #help {
    background: #dddddd url(/images/cart-helpbg.jpg) repeat-x;
    text-align: center;
}

#cartmain #help .helpl .clearl{
	float: none;
}

#cartmain #help .helpl .donbtn{
	float: none;
	display: inline-block;
}

.mobl{
	text-align: left !important;
}

.mobr{
	text-align: right !important;
}

#cartmain #cartprice #disccode{
	margin-bottom: 20px;
	text-align: center;
}

#cartmain #cartprice #disccode h4{
	text-align: center;
}

#cartmain #cartprice .tots{
	margin-bottom: 20px;
}

#cartmain .selectboxit-container{
	width: 30%;
    margin-bottom: 10px;
}

#logincont #login{
	margin-bottom: 30px;
}

#greyblock1{
	&.login, &.dashboard{
		.benefits{
			clear: both;
			width: 100%;
			max-width: 350px;
			display: block;
			margin: 0 auto 15px auto;
			min-height: 50px;

			img{
				float: left;
				width: 15%;
				margin-right: 5%;
			}

			p{
				float: left;
				width: 80%;
				margin-top: 0;
				text-align: left;
			}
		}
	}
}

#logincont input[type='checkbox']{    float: none;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5px;
    display: inline;
    vertical-align: top;}

#logincont label.chkbox{    width: auto;
    display: inline;
    float: none;}

#logincont .has-error.chkbx{text-align: center;}

#partners-wrapper .partners{text-align: center;}
#partners-wrapper .partners img{display: inline-block;}
#partners-wrapper .partners h3{margin-top: 15px;}

#checkoutcont .checkform{width: auto;}
#checkoutcont input[type='checkbox']{float: none; display: inline;}
#checkoutcont label.chklab{float: none; display: inline;width: auto;}
#account #accinfo {margin-top: 30px;}
#account #renewal #autor{    border-top: 1px dashed #535353;
    padding-top: 30px;
    margin-top: 30px;
    border-left: none;}

#popprod .prod{
	margin-bottom: 20px;
}
#giftgrey #gift_form label{
	width: 100%;
}

#giftgrey #gift_form .giftoption .giftoptext p {
    height: auto;
}

#giftgrey #gift_form label{
	width: 100%;
}

#giftgrey #gift_form label[for="sendnow"],#giftgrey #gift_form label[for="selectday"]{
	width: auto;
	display: inline-block;
}

#giftgrey #gift_form label[for="anonymous"], #giftgrey #gift_form label[for="sendnow"], #giftgrey #gift_form label[for="accept"]{
	width: 90%;
}

#giftgrey #gift_form #sendnow{
	display: inline-block;
}

#specialoffer .sptextout{
	margin-bottom: 30px;
}

#donate{
	padding-bottom: 30px;
}

#account #reminder1 #autor1 {
    border-top: 1px dashed #535353;
    padding-top: 30px;
    border-left: none;
}

#specialoffer .specials{
	width: auto;
    margin-bottom: 15px;
}

#easyrefer .or{
	margin-top: 20px;
	margin-bottom: 20px;
}

#free-resource h3{
	margin-top: 20px;
}

#free-resource{
	text-align: center;

	li{
		text-align: left;
	}

	img{
		display: inline-block;
	}
}

#contact #sharestory{
	.btn{
		width: 100%;
		padding: 12px 50px;
		max-width: 300px;
	}
}

#shop-cart-btn{
	display: none !important;
}

#collection-left .panel-default .panel-heading.subhead{
	padding: 8px 0;
}

#who-needs h3.ui-accordion-header .head-text{
	width: 70%;
}

#searchcont .searchresults{
	text-align: center;
}

#searchcont #resno{
	margin-top: 35px;
}

#cost-grey .autorenew .col-sm-4{
	clear: both;
    padding-bottom: 40px;

	img{
		margin-right: 10px;
	}

	.cost-text{
		text-align: left;
	}
}

#cost-grey .renew .benefits{
    clear: both;
    width: 300px;
    margin-bottom: 10px;
    margin: 0 auto;
    float: none;
    min-height: 70px;

    p{
		float: left;
		margin-left: 10px;
		text-align: left;
		width: 210px;
    }
}

.emergency-grey .videoWrapper iframe{
	height: auto;
	min-height: 200px;
}

#products-wrapper .prodout{
	clear: both;
	float: left;
	width: 100%;
}

#autocomplete-search-results{
  width: 89vw;
  position: relative;
  /* margin-top: 50px; */
}


#updateprof{
	margin-top: 0;
}

#updateprof .ui-accordion-content{
	padding: 40px 20px;
}

#updateprof .ui-accordion-content .form-group{
	clear: both;
	float: left;
	width: 100%;
}

#updateprof .btn-red{
  margin-bottom: 15px;
}
#cartmain #help .helpl #othervalout, #donate #help .helpl #othervalout{
  margin-left: 0px;
}


.videoWrapper{
	iframe{
		width: 100%;
	}
}

#proddet #product-form{
		.custom-input-field{
		  width: 100%;
		  display: block;
		}
		.custom-field-description{
		  display: block;
		}
}

#heroimg {
    background: url(../../images/mobbanner.jpg) no-repeat;
    background-size: cover;
    height: 200px;

    &.safe-return{
	    background-position: top right;
    }
}

#offer {
    padding: 20px 0;
    font-size: 22px;
    line-height: 34px;

	img {
    width: 33%;
    display: inline-block;
	}

	h1 {
    font-weight: 800;
    font-size: 34px;
    line-height: 32px;
    text-transform: uppercase;

    	.highlight{
	    	color: $red;
    	}
	}

	.btn{
		margin-top: 20px;
	}
}

#benefits #uspbox .usp:nth-child(4) {
    clear: none;
}

#benefits #uspbox .usp:nth-child(odd) {
    clear: left;
}

#redeem .onethird {
    width: 100%;
}

#helpcont{
	display: none;
}

#proddet #prodright .charrow-wrapper {
    background: none !important;
    margin-top: 15px;
}

#proddet #prodright .textcont input{
	width: 100% !important;
}

#banner #learnmorehome, #banner #newfhome{
	margin: 10px 10px;
	width: 190px;
	padding: 12px 10px;
}

}

@media (max-width:480px){

  #faqs h3.ui-accordion-header{
    .head-text .head-title {
      width: 90%!important;
      font-size: 20px;
    }

    span.ui-accordion-header-icon {
      padding-top: 15px;
    }
  }

  #surveycont input[type="checkbox"]{
    position: absolute;
  }
  #surveycont p.opt label{
    margin-left: 15px;
  }

  #banner {
    height: 380px;
  }
  #banner #learnmorehome, #banner #newfhome {
    margin: 10px 0px;
    width: auto;
  }

  .btn{
    padding: 10px 20px;
  }

}