
.dropdown-menu {
    margin-top: 10px;
	z-index: 1002;
}
.btn {
	color:white!important;
}

.btn-default {
	color:#333333!important;
}
.form-help-block {
    color: #737373;
    display: block;
    margin-bottom: 10px;
    margin-top: 5px;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
   /*  display: block;    */ 
}

#login, #register, #reset-pass {
	text-align:center;	
}

.gst {
	font-size:85%;
	opacity: 0.6;
}

.sign-in {
	font-weight:bold;	
}
#social-login {
	margin:10px;	
}
.total-amount{
	font-weight:bold;	
}

hr.or-separator {
	padding: 0;
	border: none;
	border-top: thin outset #333;
	color: #333;
	text-align: center;

}

hr.or-separator:after {
	content: "OR";
	display: inline-block;
	position: relative;
	top: -0.7em;
	padding: 0 0.25em;
	background: white;
	margin-bottom:10px;
}

#tab-container {
	background-color: #fafafa;
	margin: 20px 0 40px;
	padding-bottom: 5px;
}
#orders-list {
	margin:30px;
}
#account-tab a {
	color:#428BCA;
}
.tab-content-open {
	margin: 30px 0 30px;
}
.error-msg {
	color: #CF0000;
    font-size: 18px;
    font-weight: bold;
    margin: 20px;
    text-align: center;
	display: none;
}

.success-msg {
	color: #00a000;
    font-size: 18px;
    font-weight: bold;
    margin: 20px;
    text-align: center;
	display: none;
}
.error input, .error textarea {
    border: 2px solid #FF0000 !important;
}

#products-container {
	margin-top: 20px; 
	margin-bottom: 40px;
}
.product-item, .category-item {
	margin-bottom: 15px;
}
.products-wrapper, .categories-wrapper{
	padding-top: 15px;	
}
.cart-table-header {
	margin-top: 40px; 
	background-color: rgb(238, 238, 238);
}

.checkout-collapse {
	margin-top: 40px;
	margin-bottom: 40px;
}
.totals{
	margin-top: 20px;
}

.image {
	background-color: #eee; 
	height: 0; 
	padding-bottom: 100%;  
	width: 100%;
}
.image > img {
    max-width: 100%;
}
.cart-info{
	width: 315px;
	margin: 15px;
}

.cart-overview-image {
    height: 60px;
    width: 60px;
}
.cart-product-summary table tr td {
    padding-bottom: 10px;
}
.cart-product-summary-details {
    color: #555555;
    font-size: 12px;
}
.cart-product-summary-details strong {
    font-size: 14px;
}
.cart-product-summary-price {
    color: #555555;
    font-size: 16px;
    font-weight: bold;
    padding-left: 20px;
    text-align: right;
}
.cart-total-price-2 {
    border-bottom: 2px solid #E7E7E7;
    border-top: 2px solid #E7E7E7;
}
.cart-total-price-2 table {
    border-bottom: 3px solid #FFFFFF;
    border-top: 3px solid #FFFFFF;
}
.cart-total-price-2 table tr {
    background-color: #F2F2F2;
    color: #555555;
}
.cart-total-price-2 table tr td {
    padding: 10px;
}
.cart-total-price-2 {
    font-size: 14px;
    font-weight: bold;
}
.cart-total-price-2 strong {
    font-size: 24px;
}
.modal-header {
	background-color: #eeeeee!important;
}

.form-control {
	border: 1px solid #bbb !important;
}

.clear{clear:both;}


#map-canvas {
	height: 430px; 
	text-align: center; 
	background-color:#eee;
}

#map-canvas img {
	max-width: none !important;
}

#map-canvas label {
	width: auto; 
	display:inline; 
}

.result {
  padding: 10px;
}

.resultimage img {
    width: 100%;
}

.result #img-mini-box {
  float: left;
  margin-right: 10px;
  width: 90px;
}

.result .resulttitle {
  font-weight: bold;
}

.result .resultimage {
  background-color: #EEEEEE;
  height: 0;
  padding-bottom: 100%;
  width: 100%;
}

.result .resulttext {
  color: #999999;
  font-size: 14px;
}

.result .resulttags {
  color: #999999;
  font-size: 14px;
}

.result a {
  font-size: 14px;
  color: #f3901d;
  padding-right: 3px;
}
.page, .prod-page  {
    display: none;
}
.page.current, .prod-page.current {
    display: block;
}
.resultpag ul, .prod-resultpag ul {
    list-style: none outside none;
    margin: 0;
	border: solid 1px #eeeeee;
}
.resultpag ul li, .prod-resultpag ul li {
    float: left;
    margin-right: 7px;
}
.resultpag ul li a, .resultpag ul li, .prod-resultpag ul li a, .prod-resultpag ul li {
    color: #F4B27F;
}
.resultpag ul li.current a, .resultpag ul li a:hover, .prod-resultpag ul li.current a, .prod-resultpag ul li a:hover {
    color: #C2C2C2;
}

#help-alert{
	position:fixed;
	bottom:0;
	margin:0;
	width:100%;
	text-align: center;
	border-radius: 4px;
    padding: 10px;
	background-color: #D9EDF7;
    border-color: #BCE8F1;
    color: #3A87AD;
}
#help-alert-bold {
    display: inline;
    font-weight: bold;
    padding-right: 10px;
}






