
.dropdown-menu {
    margin-top: 10px;
	z-index: 1002;
}
.btn {
	color:white!important;
}

.btn-default {
	color:#333333!important;
}
.form-help-block {
    color: #737373;
    display: block;
    margin-bottom: 10px;
    margin-top: 5px;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
   /*  display: block;    */ 
}

#login, #register, #reset-pass {
	text-align:center;	
}

.gst {
	font-size:85%;
	opacity: 0.6;
}

.sign-in {
	font-weight:bold;	
}
.total-amount{
	font-weight:bold;	
}

hr.or-separator {
	padding: 0;
	border: none;
	border-top: thin outset #333;
	color: #333;
	text-align: center;

}

hr.or-separator:after {
	content: "OR";
	display: inline-block;
	position: relative;
	top: -0.7em;
	padding: 0 0.25em;
	background: white;
	margin-bottom:10px;
}

#tab-container {
	background-color: #fafafa;
	margin: 20px 0 40px;
	padding-bottom: 5px;
}
#orders-list {
	margin:30px;
}
#account-tab a {
	color:#428BCA;
}
.tab-content-open {
	margin: 30px 0 30px;
}
.error-msg {
	color: #CF0000;
    font-size: 18px;
    font-weight: bold;
    margin: 20px;
    text-align: center;
	display: none;
}

.success-msg {
	color: #00a000;
    font-size: 18px;
    font-weight: bold;
    margin: 20px;
    text-align: center;
	display: none;
}
.error input, .error textarea {
    border: 2px solid #FF0000 !important;
}

#products-container {
	margin-top: 20px; 
	margin-bottom: 40px;
}
.product-item, .category-item {
	margin-bottom: 15px;
}
.products-wrapper, .categories-wrapper{
	padding-top: 15px;	
}
.cart-table-header {
	margin-top: 40px; 
	background-color: rgb(238, 238, 238);
}

.checkout-collapse {
	margin-top: 40px;
	margin-bottom: 40px;
}
.totals{
	margin-top: 20px;
}

.image {
	background-color: #eee; 
	height: 0; 
	padding-bottom: 100%;  
	width: 100%;
}
.image > img {
    max-width: 100%;
}
.cart-info{
	width: 315px;
	margin: 15px;
}

.cart-overview-image {
    height: 60px;
    width: 60px;
}
.cart-product-summary table tr td {
    padding-bottom: 10px;
}
.cart-product-summary-details {
    color: #555555;
    font-size: 12px;
}
.cart-product-summary-details strong {
    font-size: 14px;
}
.cart-product-summary-price {
    color: #555555;
    font-size: 16px;
    font-weight: bold;
    padding-left: 20px;
    text-align: right;
}
.cart-total-price-2 {
    border-bottom: 2px solid #E7E7E7;
    border-top: 2px solid #E7E7E7;
}
.cart-total-price-2 table {
    border-bottom: 3px solid #FFFFFF;
    border-top: 3px solid #FFFFFF;
}
.cart-total-price-2 table tr {
    background-color: #F2F2F2;
    color: #555555;
}
.cart-total-price-2 table tr td {
    padding: 10px;
}
.cart-total-price-2 {
    font-size: 14px;
    font-weight: bold;
}
.cart-total-price-2 strong {
    font-size: 24px;
}
.cont-shopping {
    margin-top: 10px;
}
.modal-header {
	background-color: #eeeeee!important;
}

.form-control {
	border: 1px solid #bbb !important;
}
.tallbox {
    border-bottom: 1px solid #a9afb8;
    border-top: 1px solid #a9afb8;
    line-height: 20px;
    padding: 20px;
}
.btn.grey, #maincont .btn.grey {
    background: none repeat scroll 0 0 #6e6e6e;
    border: medium none;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    margin: 5px 0;
    min-width: 180px;
    padding: 10px;
    text-transform: uppercase;
    width: 70%;
}
#maincont .btn {
    background: none repeat scroll 0 0 #0971ce;
    border: medium none;
    border-radius: 2px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 0;
    text-transform: uppercase;
    width: 100%;
}
.error-textbox {
    background-color: #F4E7E8;
    border: 2px solid #a94442;
    color: #a94442;
    font-size: 15px;
    margin: 20px;
		font-weight: bold;
    padding: 6px;
	display:none;
	text-align: center;
}
.has-error .chklab {
    background-color: #f4e7e8;
    border: 2px solid #a94442;
}
.clear{clear:both;}


#map-canvas {
	height: 430px; 
	text-align: center; 
	background-color:#eee;
}

#map-canvas img {
	max-width: none !important;
}

#map-canvas label {
	width: auto; 
	display:inline; 
}

.result {
  padding: 10px;
}

.resultimage img {
    width: 100%;
}

.result #img-mini-box {
  float: left;
  margin-right: 10px;
  width: 90px;
}

.result .resulttitle {
  font-weight: bold;
}

.result .resultimage {
  background-color: #EEEEEE;
  height: 0;
  padding-bottom: 100%;
  width: 100%;
}

.result .resulttext {
  color: #999999;
  font-size: 14px;
}

.result .resulttags {
  color: #999999;
  font-size: 14px;
}

.result a {
  font-size: 14px;
  color: #f3901d;
  padding-right: 3px;
}
.page, .prod-page  {
    display: none;
}
.page.current, .prod-page.current {
    display: block;
}

.resultpag ul, .prod-resultpag ul {
    list-style: none outside none;
    margin: 0;
	border: solid 1px #eeeeee;
}
.resultpag ul li, .prod-resultpag ul li {
    float: left;
    margin-right: 7px;
}
.resultpag ul li a, .resultpag ul li, .prod-resultpag ul li a, .prod-resultpag ul li {
    color: #F4B27F;
}
.resultpag ul li.current a, .resultpag ul li a:hover, .prod-resultpag ul li.current a, .prod-resultpag ul li a:hover {
    color: #C2C2C2;
}

#help-alert{
	position:fixed;
	bottom:0;
	margin:0;
	width:100%;
	text-align: center;
	border-radius: 4px;
    padding: 10px;
	background-color: #D9EDF7;
    border-color: #BCE8F1;
    color: #3A87AD;
}
#help-alert-bold {
    display: inline;
    font-weight: bold;
    padding-right: 10px;
}

.padtop{
	margin-top: 50px;
}

#subhead {
    border-bottom: 1px solid #000;
    font-size: 12px;
    line-height: 24px;
    margin-bottom: 0;
    margin-top: -10px;
    padding-bottom: 30px;
    text-transform: uppercase;
}
#maincont h3 {
    color: #000;
    font-size: 26px;
    font-weight: 300;
    line-height: 36px;
    text-transform: uppercase;
}
#featuredprod .carousel-control.left, #featuredprod .carousel-control.right, #specialprod .carousel-control.left, #specialprod .carousel-control.right{
	background-image: none;
}

#featuredprod .carousel-control, #specialprod .carousel-control{
	left: -55px !important;
	top: 25% !important;
}

#featuredprod .carousel-control.right, #specialprod .carousel-control.right{
	right: -55px !important;
	left: auto !important;
}

.item>.col-sm-4 img{
	min-height: 293px;
}

.prodname{
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 15px;
    min-height: 48px;
}

.prodbrand{
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}

.prodsave{
    background: #eb3939;
    font-size: 10px;
    color: #fff;
    width: auto;
    padding: 0 5px;
    display: inline;
}

.prodfullprice{
	display: inline-block;
	font-size: 15px;
	text-align: center;
	width: 100%;
}

.prodfullprice span{
	text-decoration:line-through;
	font-weight: 300;
}

.prodprice{
	font-weight: 600;
	width: 100%;
	font-size: 28px;
	text-align: center;
	line-height: 32px;
	margin-bottom: 30px;
}

#prodcontainer {
    padding-top: 15px;
}

#prodcontainer .item {
    box-sizing: border-box;
    float: left;
    margin: 15px 30px 15px 0;
    text-align: center;
    width: 330px;
}
#prodcontainer .item:nth-child(3n+1) {
    clear: both;
}

#prodcontainer .item img {
    display: inline-block;
    height: 276px;
}

.btn.buy, #maincont .btn.buy {
    background: none repeat scroll 0 0 #0971ce;
    border: medium none;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    margin: 5px 0;
    min-width: 180px;
    padding: 10px;
    text-transform: uppercase;
    width: 60%;
}
.btn.buy img, #maincont .btn.buy img {
    border-right: 1px solid #2887dc;
    height: auto;
    margin-right: 10px;
    min-height: 0 !important;
    padding-right: 10px;
}
.btn.buy img, #maincont .btn.buy img {
  min-height: 0 !important;
}
#social-login {
	margin:10px;
	text-align: center;	
}
.fb-btn img {
    margin-right: 8px;
}
.fb-btn {
    background-color: #3b55a0 !important;
    border: medium none!important;
    color: #fff!important;
    font-family: arial!important;
    font-size: 13px!important;
    font-weight: bold !important;
    width: 100%;
		border-radius: 2px;
		text-transform: none !important;
		max-width: 300px;
}
.out-stock {
	color: #cc2020;
	font-weight: bold;
}

.info-alert-wrapper {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 999;
}
.info-alert {
	text-align: center;
	font-size: 20px;
	padding: 20px;
}
