body,input, button, select, textarea {
	font-family: 'Oxygen', sans-serif;
	font-weight: 400;
}

.popover{
    max-width:350px !important;
    
}
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}
.carousel-indicators li {
	cursor: pointer;
}

.videoBG_wrapper{
	position: relative!important;
}
.videoBG_wrapper #headout{
	background: none!important;
}
.videoBG{
	background: #3a180d no-repeat top center;
}
.videoBG video{
	width:100%;
}

a, a:active, a:selected, a:focus { 
    border: none;
    outline: none;
}
.breadcrumbs {
	color:#888888;
}
.breadcrumbs > a {
	color:#cccccc;
}
.page{
	display:none;
}
.page.current{
	display:block;
}

.locationinfo .address,.locationinfo .times  {
	width: 90%;
}

.orangecontent a{
	color: #333;
}
.orangecontent a:visted{
	color: #333;
}
.orangecontent a:hover{
	color: #333;
	text-decoration: underline;
}

.clear{clear:both;}

.instafeed-wrapper{
	background-color: #eeeeee;
	padding:20px;
	width:calc(100% - 40px);
}
.instafeed-col, .instafeed-small, .instafeed-medium, .instafeed-large{
	float: left;
	padding-left: 1px;
	padding-top: 1px;
}

.instafeed-col.small{
	width:14%;
}
.instafeed-col.medium{
	width:28%;
}
.instafeed-col.large{
	width:42%;
}

.instafeed-small img, .instafeed-medium img, .instafeed-large img {
	width:100%;
	height:auto;
}
.instafeed-small, .instafeed-medium, .instafeed-large{
	width:calc(100% - 1px);
	height:auto;
}
.instafeed-col.medium .instafeed-small{
	width:calc(50% - 1px);
	height:auto;
}

.first{
	margin-left:0px !important;
}

#portfolio-wrapper{
	height: 291px;
    overflow: hidden;
    position: relative;
}
.portfolio-item a {
	display:block;
}
.portfolio-item img{
	height: 290px;
	width: 290px;
}
.portfolio-item.tall .image{
	height: 580px;
	width: 290px;
	overflow: hidden;
	position: relative;
}
.portfolio-item.tall .image img{
	position: absolute;
	left: -145px;
}
.portfolio-item.wide .image{
	height: 290px;
	width: 580px;
	overflow: hidden;
	position: relative;
}
.portfolio-item.wide .image img{
	position: absolute;
	top: -145px;
}
.portfolio-item.big .image{
	height: 580px;
	width: 580px;
	overflow: hidden;
}

.portfolio-item.tall img, .portfolio-item.wide img, .portfolio-item.big img{
	height: 580px;
	width: 580px;
	max-width:580px;
	max-height:580px;
}

a{
	color:#888;
	text-decoration: none !important;
}

a:hover{
	text-decoration: none !important;
}

#top-menu{display: none;}


.headerbg {
	background: #3a180d no-repeat top center;
}
#headout{
	/*background: #3a180d url(../../images/headerbg.png) no-repeat top center;
	background: #3a180d url(../../images/headerbg.png) no-repeat top center;*/
}

#headout2{
	background:rgba(36,15,8,0.6);
}

#headout2 .row-fluid{
	padding:20px 0 0;
}

#slider {
	/*height:210px;*/
}

#logo, #social, #find, #search, #franchise{
	float: left;
	margin-right: 15px;
}

#find a:hover,#find a:visited{
	color: #f26522;
	text-decoration: none;
}

#menu1{
	float: right;
	margin: 0px 10px 0 0;
}

#social img, #franchise img{
	opacity: 0.8;
}

#social img:hover, #franchise img:hover{
	opacity: 1;
}

#searchbox{
	background: #5d5148 url(../../images/mag.png) no-repeat 150px 5px;
	border-radius: 15px;
	border: 1px solid #6d655e;
	color: #ffffff;
	height:23px;
	width:170px;
}

#social img{
	margin-right: 6px;
}

#logo{
	margin:70px 0 0 10px;
}

#find{
	margin-top: 7px;
}

#menu2{
	float:right;
	margin-right: 10px;
	margin-top:43px;
}

#menu2 ul li a{
	color: #f26522;
	font-size: 20px;
}

#menu2 ul{
	list-style: none;
}

#menu2 ul li{
	float: left;
	margin-right:25px;
	position: relative;
	padding-bottom: 50px;
}

#menu2 ul li a:hover{
	color: #ffffff;
	text-decoration: none;
}

#menu2 ul li.current>a{
	color: #ffffff;
}

#menu2 ul li ul{
width: 200px;
background: rgba(35,16,11,0.7);
position: absolute;
top: 73px;
left: 0px;
margin-left: 0;
padding:0 15px 15px;
display: none;
z-index: 500;
}

#menu2 ul li ul li{
	clear: left;
	float: left;
	width: 100%;
	border-bottom: 1px solid #392820;
	padding:0 !important;
}

#menu2 ul li ul li:last-child{
	border-bottom: none;
}

#menu2 ul li ul li a{
	font-size: 14px;
	font-weight: 400;
	padding: 5px 3px 5px 13px;
	float: left;
}


#videobox{
	/*min-height: 390px;*/
}

#bgvideo {
    height: 380px;
}

#videobox .span5{
	font-size: 31px;
	line-height: 45px;
	color: #6b5450;
	padding: 110px 0;
}

.carousel{
	margin-bottom: 0px;
}

.carousel-indicators li{
	background-color: #8f8f8f;
	width:12px;
	height:12px;
	border-radius: 6px;
}

.carousel-indicators .active{
	background-color: #f26522;
}

.carousel-indicators{
	top:auto !important;
	bottom:10px;
	left:566px;
	right:auto !important;
}

#orangebox{
	background: url(../../images/orangebg.png);
}

#orangebox .span4{
	text-align: center;
	padding: 40px 0;
}

#orangebox .span4:first-child{
	margin-left: 0 !important;
}

.quicktitle{
	font-size: 31px;
	line-height: 40px;
	color: #fff;
	
	padding: 10px 0;
}

.quicktext{
	font-size: 13px;
	line-height: 21px;
	color: #ffffff;
	width:94%;
	margin: 0 auto;
}

.button{
	color: #cb5900;
	background-color: #fff;
	height: 35px;
	width: 60%;
	margin: 0 auto;
	border-radius: 20px;
	font-size: 17px;
	line-height: 34px;
	margin: 25px auto 0;
	display: block;
}

.button:hover{
	color:#291607;
	text-decoration: none;
}


.button1:hover{
	color:#6b5450;
	text-decoration: none;
}

#whitebox{
	padding:20px 0;
}

h3.title{
	color:#5a5a5a;
	
	font-size: 30px;
	line-height: 51px;
}

.instatext{
	padding:20px 0;
}

.instatext h3{
	color:#5a5a5a;
	
	font-size: 30px;
	line-height: 38px;
	margin: 0;
}

.instatext p{
	font-size: 18px;
	color: #999999;
	line-height:38px;
	margin: 0;
}

.instatext p span{
	color: #000000;
}

.instatext p a{
	color:#fff;
	background: #f26522;
}

.instatext p a:hover{
	color:#f26522;
	background: #fff;
}

#brownbox{
	background: #291607;
}

#brownbox p{
	color: #ffffff;
	font-size: 20px;
	line-height: 32px;
}

.row-fluid [class*="span"]:first-child {
margin-left: 0;
}

#brownbox .span7{
	padding: 50px 0;
}

#vipsignup{
	background: #cb5900;
}

#vipsignup h5{
	font-size: 20px;
	line-height: 32px;
	color: #fff;
	float: left;
	
}

#vipsignup .container{
	overflow: hidden;
}

.newsl{
	font-size: 12px;
	line-height: 58px;
	color: #fff;
	float: right;
}

.newsl a:hover{
	text-decoration: underline !important;
	color:#fff;
}

#vipsignup input{
	width:90%;
	background: #db7525;
	border: 1px solid #e69758;
	border-radius: 20px;
	height: 35px;
	padding:0 6px;
}

#vipsignup select{
	width:97%;
}

.signupform{
	font-size: 15px;
	line-height: 35px !important;
	color: #fff;
	padding: 0px!important;
}
form{
	margin: 0px!important;
}

.button1{
	color: #cb5900;
	background-color: #fff;
	height: 35px;
	width: 100%;
	border-radius: 20px;
	font-size: 17px;
	line-height: 34px;
	margin: 0px;
	padding: 0px;
	text-align: center;
	cursor: pointer;
}

#foot{
	padding: 40px 0;
	background: url(../../images/bg.png);
}

.sitemap ul{
	list-style: none;
	margin: 0;
}

.sitemap ul li a{
	color: #FFFFFF;
	font-size: 13px;
}

.sitemap ul li a:hover{
	color: #cb5900;
	text-decoration: none;
}

.sitemap ul li{
	height:30px;
}

#foot ul li a{
	color: #000000;
}
#foot ul li a:hover{
	color: #cb5900;
}



.made{
	float: right;
	font-size: 11px;
	color: #000;
}

.made a{
	color: #000000;
	text-decoration: none;
}

.made a:hover{
	color: #cb5900;
	text-decoration: none;
}

.st_sharethis_large{
	float: right;
}

.crumbs{
	color: #ffffff;
	font-size: 12px;
	line-height: 36px;
	margin: 15px 0;
}

.crumbs a{
	color: #ffffff;
}

.crumbs a:hover{
	color: #cb5900;
}

h3.toptitle{
	font-size: 32px;
	line-height: 40px;
	color: #ffffff;
}

.toptext{
	color: #ffffff;
	font-size: 20px;
	line-height: 40px;
}

.toptext p{
	margin-bottom: 30px;
}

.newsitem, .loc{
	position: relative;
}

.newsitem img, .loc img{
	width:100%;
}


.newstop, .loctop{
	position: absolute;
	top:0;
	width:100%;
	background:rgba(0,0,0,0.6);
}

.newstitle, .loctitle{
font-size: 25px;
line-height: 30px;
color: #fff;

padding: 10px 10px 10px;
}

.newstext, .loctext{
font-size: 13px;
line-height: 21px;
color: #fff;
padding: 0 10px 10px;
}

.button3 {
color: #cb5900;
background-color: #fff;
height: 35px;
width: 80%;
margin: 0 auto;
border-radius: 20px;
font-size: 17px;
line-height: 34px;
margin: 25px auto 50px;
text-align: center;
display:block;
}

.button3:hover{
	color:#291607;
}

#up, #down, #up1, #down1{
	width: 100%;
	text-align: center;
	cursor: pointer;
}

#up, #up1{
	margin: 50px 0 30px 0;
}

#down{
	margin: 10px 0 50px 0;
}

#down1{
	margin: 30px 0 50px 0;
}

#newsbox, #menuout{
	height: 740px;
	overflow: hidden;
}

.orangecontent{
	margin: 30px 0;
}

.orangecontent p{
	color: #ffffff;
}

.frantext{
	font-size: 20px;
	color: #5a5a5a;
	line-height: 38px !important;
	margin: 0;
}

.frantext h3.title{
	margin-bottom: 0 !important;
}

#franform{
	line-height: 35px !important;
	background: #f6f6f6;
	padding: 30px 20px;
}
#franform label{
	line-height: 35px !important;
}

#franform input{
	width: 90%;
	background: #ffffff;
	border: 1px solid #ccc;
	border-radius: 20px;
	height: 35px;
	padding: 0 6px;
}

#franform textarea{
	width: 95%;
	background: #ffffff;
	border: 1px solid #ccc;
	border-radius: 20px;
	height: 175px;
	padding: 0 6px;
}

#franform .button1{
	border: 1px solid #ccc;
}

#resultbox{
	padding: 30px 0;
}

h4.resulttitle, h4.locationtitle{
	font-size: 25px;
	line-height: 40px;
	color: #ffffff;
	
}

.resulttext, .resulttags{
	color:#fff;
	font-size: 13px;
	line-height: 21px;
}

.resulttags a:hover{
	color: #291607;
}

.result .button1{
	width: 30%;
	float: left;
	margin: 20px 0 30px;
}

.resultpag ul{
	list-style: none;
	margin: 0;
}

.resultpag ul li{
	float:left;
	margin-right: 7px;
}

.resultpag ul li a, .resultpag ul li{
	color:#f4b27f;
}

.resultpag ul li.current a, .resultpag ul li a:hover{
	color: #fff;
}

#locationbox .button1{
	width: auto !important;
	float: left;
	padding: 0 27px;
	border-radius: 15px;
	margin: 0 20px 20px 0;
	border: 1px solid #fff;
}

#locationbox .button1.selected{
	color:#fff;
	background: #f26522;
	border: 1px solid #fff;
}

.loctext a{
	color:#f26522;
}

.loctext a:hover{
	color: #ffffff;
}

#locationbox{
	padding: 30px 0;
}

#statelist{
	margin-bottom: 50px;
}

.new{
	background: url(../../images/new.png) no-repeat;
	width:76px;
	height:73px;
	position: absolute;
	top:190px;
	right:10px;
}

#vip_form .error{
	color: black!important;
}

.locationinfo{
	color: #fff;
	position: relative;
}

.locationinfo h4.locationtitle{
	margin-top: 0 !important;
}

.locationinfo .new{
	top:0 !important;
	right:-10px !important;
}

.day{
	width: 60px;
	float:left;
}

.small-images .span3{
}

#whitebox1{
	background: #fff;
	color:#999999;
}

#whitebox h3{
	font-size: 30px;
	color:#999;
	
}

#whitebox1 p{
	color:#999999;
	font-size: 20px;
	line-height: 30px;
}

#whitebox1 p a{
	color:#fff;
	background: #f26522;
}

#whitebox1 p a:hover{
	color:#f26522;
	background: #fff;
}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.mitemtop{
	position: absolute;
	top: 0;
	background: rgba(0,0,0,0.6);
	width: 100%;
	color: #fff;
}

.mitemtitle{
	font-size: 25px;
	line-height: 40px;
	
	padding: 10px 10px 0;
}

.mitemcat{
	font-size: 13px;
	line-height: 21px;
	padding: 0px 10px 10px;
}

#menucontainer{
	width: 100%;
	height: 100%;
}

#count{
	color: #fff;
	margin-top: -30px;
}

#big-image{
	position: relative;
}
#big-image img {
	width:100%;
}

.prodtopbox{
	position: absolute;
	top:0;
	width: 100%;
	background: rgba(0,0,0,0.6);
}

.prodtoptitle{
color: #fff;
font-size: 21px;
padding: 10px 10px 5px;
}

.prodtopcat{
color: #fff;
padding: 0 10px 10px 10px;
font-size: 13px;
}


.prodshare{
	margin:20px 0 0;
}

.proddet{
	margin: 40px 0 0px;
}

.producttry{
	padding: 30px 0;
}

.love{
	margin-top: 50px;
}

#potm {
padding: 40px 0;
background: url(../../images/bg.png);
display: none;
}

h3.potm{
	font-size: 32px;
	line-height: 32px;
	color: #333333;
	margin-top: 0;
}

#potm p{
	color: #999999;
	font-size: 20px;
	line-height: 32px;
}

#potm2{
	text-align: center;
	height: 20px;
	position: relative;
}

#potmbutton{
	position: absolute;
	left: 42%;
	bottom: -76px;
	cursor: pointer;
}

#menumainbox{
	padding: 80px 0;
}

#menumainbox .button1{
	width: auto !important;
	float: left;
	padding: 0 27px;
	border-radius: 15px;
	margin: 0 20px 20px 0;
	border: 1px solid #fff;
}

#menumainbox .button1.selected{
	color:#fff;
	background: #f26522;
	border: 1px solid #fff;
}

.tags{
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.new2{
	background: url(../../images/new.png) no-repeat;
	width:76px;
	height:73px;
	float:left;
}

.award2{
	background: url(../../images/award.png) no-repeat;
	width:76px;
	height:73px;
	float:left;
}

.fav2{
	background: url(../../images/fav.png) no-repeat;
	width:76px;
	height:73px;
	float:left;	
}

.mitemtitle a:hover{
	color: #cb5900;
}

#menulistmobile{
	display: none;
}

.map{
	height:0;
	width:100%;
	padding-bottom:100%;
}


@media (max-width: 979px) and (min-width: 768px){
	#logo{
		margin: 20px 0 20px 10px;
	}
	
	#logo, #social, #find, #search, #franchise {
		float: left;	
		margin-right: 10px;
	}
	
	#menu2 ul li a {
		color: #f26522;
		font-size: 18px;
	}
	
	#videobox {
		min-height: 280px;
	}
	#bgvideo {
	    height: 689px;
	}
	
	#videobox .span5 {
		font-size: 21px;
		line-height: 45px;
		color: #6b5450;
		padding: 30px 0;
	}
	
	.carousel-indicators {
		top: auto !important;
		bottom: 4px;
		left: 346px;
		right: auto !important;
	}
	
	.signupform {
		font-size: 12px;
	}
	
	#potmbutton {
		position: absolute;
		left: 35%;
		bottom: -76px;
		cursor: pointer;
	}
	
	.newstitle, .loctitle {
		font-size: 15px;
		line-height: 15px;
		color:#fff;
		padding: 10px 10px 10px;
	}
	
	.newstext, .loctext {
		font-size: 9px;
		line-height: 12px;
		color: #fff;
		padding: 0 10px 10px;
	}
	
	.new {
		background: url(../../images/new.png) no-repeat;
		width: 76px;
		height: 73px;
		position: absolute;
		top: 94px;
		right: 0px;
	}
	
	#locationboxin .span5>iframe{
		width:100% !important;
	}
	
	#locationbox .span5>iframe{
		width:100% !important;
	}
	
	#locationbox .button1 {
		padding: 0 17px;
	}
	
	#foot ul li{
		height:40px;
		line-height: 13px;
	}
	
}


@media (max-width: 767px){
	body{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	#menu2{
		display: none;
	}
	
	#top-menu {
		display: block;
		background: #6b5450;
	}
	
	#menu-icon {
		color: #fff;
		width: 29px;
		height: 20px;
		padding: 5px;
		cursor: pointer;
		float: right;
	}
	
	#menu-icon span {
		display: block;
		background: #fff;
		height: 3px;
		margin-top: 3px;
	}
	
	#menu-top {
		display: none;
		list-style: none;
		clear: both;
	}
	
	#menu1{
		margin: 10px;
	}
	
	#bgvideo {
		/*display:none;*/	
	}
	
	#logo, #social, #find, #search, #franchise {
		margin-right: 10px !important;
		margin-bottom: 5px !important;
	}
	
	#logo {
		margin: 10px 0 0 10px;
	}
	
	
	#locationboxin .span5>iframe{
		width:100% !important;
		display: none;
	}
	
	#locationbox .span5>iframe{
		width:100% !important;
		display: none;
	}
	
	
	#potmbutton{
		left: 5% !important;
	}
	
	.instahome h3, .instafeed{
		display: none;
	}
	
	.instatext .span2{
		width:10%;
		float:left;
	}
	
	.instatext .span10{
		width:80%;
		float:left;
		margin-left: 5%;
	}
	
	.carousel-indicators {
		top: auto !important;
		bottom: 5px;
		left: 136px;
		right: auto !important;
	}
	
	.small-images .span3 {
		float: left;
		width: 18%;
	}
	
	.portfolio-item img{
		display: none;
	}
	
	.mitemtop{
		position: relative !important;
		background: transparent;
	}
	
	.mitemcat{
		display: none;
	}
	
	#up1, #down1{
		display: none;
	}
	
	#menuout{
		height: auto !important;
	}
	
	.portfolio-item .tags{
		display: none;
	}
	
	#menulistmobile{
		display: block;
		margin-left: 10px;
	}
	
	#menulist{
		display: none;
	}
	
	.portfolio-item{
		display: none;
	}
	#videobox .span5{
		padding: 110px 0 0;
	}
}

