.foot-menu {
  ul { 
    list-style: none;
    text-align: center;
    .foot-nav { 
      float: left; 
    }
  }
  > ul {
    width: 33%;
	display: inline-block;
  }
}
.foot-menu ul:after { content:"";display:table;clear:both; }