$font-stack: Helvetica, sans-serif;
$majpr-color: #333;
$minor-color: #555;

@import 'reset';
@import 'bootstrap';

@import 'base';
@import 'upto1200';
@import 'upto992';
@import 'upto768';
