.GmlTable
{
	background-color:#A7CC95;
	font-size: 15px;
	font-family: Arial, sans-serif;
}

.GmlTable .GmlTable td, .GmlTable tr
{
	padding:0px;
	margin: 0px;
}

.GmlTitle, .GmlTitle a
{
	font-weight:bold;
	color: #006A7F;
	font-size:16px;
	text-decoration: none;
	line-height:16px;
	margin-bottom:4px;
	border-bottom: none !important;
}

.GmlTitle img
{
	padding:0px;
	margin: 0px;
	border: none;
	float:left;
}

.GmlMap
{
	width: 100%;
	height:350px;
}

.GmlContact
{
	font-size:11px;
	line-height:6px;
	padding-bottom:7px;
}
.GmlContact div
{
	text-align:center;
}

.Gml a, .Gml a:link, .Gml a:active, .Gml a:visited, .Gml a:hover
{
	color: #003399 !important;
	text-decoration: none !important;
	border-bottom: none !important;
}


